<% if (typeof error !== 'undefined' && error) { %>
<div class="alert alert-danger"><%= error %></div>
<% } %>
<% if (typeof success !== 'undefined' && success) { %>
<div class="alert alert-success"><%= success %></div>
<% } %>
